<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hzl.mapper.RoleMapper">
    <resultMap id="RoleResultMap" type="com.hzl.entity.Role">
        <id column="id" property="id" jdbcType="VARCHAR"/>
        <result column="role_name" property="role_name" jdbcType="VARCHAR"/>
        <result column="description" property="description" jdbcType="VARCHAR"/>
        <collection property="children" ofType="com.hzl.entity.Permission">
            <id column="id1" property="id" jdbcType="VARCHAR"/>
            <result column="name1" property="name" jdbcType="VARCHAR"/>
            <result column="path1" property="path" jdbcType="VARCHAR"/>
            <collection property="children" ofType="com.hzl.entity.Permission">
                <id column="id2" property="id" jdbcType="VARCHAR"/>
                <result column="name2" property="name" jdbcType="VARCHAR"/>
                <result column="path2" property="path" jdbcType="VARCHAR"/>
                <collection property="children" ofType="com.hzl.entity.Permission">
                    <id column="id3" property="id" jdbcType="VARCHAR"/>
                    <result column="name3" property="name" jdbcType="VARCHAR"/>
                    <result column="path3" property="path" jdbcType="VARCHAR"/>
                </collection>
            </collection>
        </collection>
    </resultMap>
    <select id="getRoles" resultMap="RoleResultMap">
        select r.id,r.role_name,r.description,p.id as id1,
        p.name as name1,p.path as path1,
        p1.id as id2,
        p1.name as name2,p1.path as path2,
        p2.id as id3,
        p2.name as name3,p2.path as path3
        from sys_role r
        inner join sys_role_permission rp on rp.rid = r.id
        inner join sys_permission p on p.id = rp.pid
        inner join sys_permission p1 on p1.parentId = p.id
        inner join sys_permission p2 on p2.parentId = p1.id
    </select>

</mapper>