<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hzl.mapper.UserMapper">

    <select id="getUserByUserName" resultType="com.hzl.entity.UserDto">
        select * from sys_user where username = #{username}
    </select>

    <select id="findPermissionByUserId" resultType="com.hzl.entity.Permission">
        SELECT * FROM `sys_permission` where id in(select pid from sys_role_permission where rid in(select rid from sys_role_user where uid = #{userId}))
    </select>

    <select id="getUsers" resultType="com.hzl.entity.UserDto">
        select u.id,u.username,u.create_time,u.phone,u.enabled,u.email,r.role_name
        from sys_user u
        INNER JOIN sys_role_user ru on u.id = ru.uid
        INNER JOIN sys_role r on ru.rid = r.id
        <where>
            <if test="username != null and username!=''">
                trim(replace(u.username,' ','')) LIKE CONCAT('%',trim(replace(#{username},' ','')),'%' )
            </if>
        </where>
        ORDER BY u.create_time LIMIT #{page},#{rows}
    </select>

    <select id="getUsersCount" resultType="int">
        select count(1) from sys_user
        <where>
            <if test="username != null and username!=''">
                trim(replace(username,' ','')) LIKE CONCAT('%',trim(replace(#{username},' ','')),'%' )
            </if>
        </where>
    </select>

    <update id="updateUserEnabled">
        update sys_user set enabled = #{enabled},update_time = #{update_time} where id = #{userId}
    </update>

    <insert id="addUser" parameterType="com.hzl.entity.UserDto">
        insert into sys_user(id,username,password,email,phone,create_time,enabled,salt) value
        (#{id},#{username},#{password},#{email},#{phone},#{create_time},"true",#{salt})
    </insert>

    <select id="getUserById" resultType="com.hzl.entity.UserDto">
        select username,email,phone,create_time from sys_user where id = #{id}
    </select>

    <update id="updateUserById">
        update sys_user set email = #{email},phone = #{phone},update_time = #{update_time} where id = #{id}
    </update>
</mapper>